spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/banking_system
    username: mizgan
    password: 1928
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml
    default-schema: public
